<template>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 v-if="!isLoaded">Loading...</h2>
      <div v-if="isLoaded && currencies.length === 0" class="alert alert-danger" role="alert">
        Can't load currencies. Try run app:exchangeRate:update
      </div>
      <form v-if="isLoaded && currencies.length > 0" class="form-group align-center row" v-on:submit.prevent=""
            v-on:change="calculate">
        <div class="col-md-4">
          <input class="form-control" type="number" v-model="amountSource" step="any" v-on:keyup="calculate"/>
        </div>
        <div class="col-md-2">
          <select class="form-select" name="source" v-model="source">
            <option v-for="currency in currencies">{{ currency }}</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-select" name="target" v-model="target">
            <option v-for="currency in currencies">{{ currency }}</option>
          </select>
        </div>
        <div class="col-md-4">
          <input class="form-control" readonly v-model="formattedTargetAmount" step="any"/>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      currencies: [],
      isLoaded: false,
      source: 'EUR',
      target: 'USD',
      amountSource: 1,
      amountTarget: null,
      amountTargetPrecision: null,
      calculateCancelToken: null,
    };
  },
  computed: {
    formattedTargetAmount: function () {
      if (this.amountTarget === null)
        return '...';
      let formatter = new Intl.NumberFormat('EN-us', {maximumFractionDigits: this.amountTargetPrecision});
      return formatter.format(this.amountTarget)
    }
  },
  methods: {
    calculate: function () {
      if (this.calculateCancelToken !== null)
        this.calculateCancelToken.cancel();
      this.calculateCancelToken = axios.CancelToken.source();
      let amountSource = Number(this.amountSource);
      if (isNaN(amountSource))
        return;
      let url = '/api/currencies/' + this.source + '/' + this.target + '/' + this.amountSource;
      this.$axios
        .get(url, {cancelToken: this.calculateCancelToken.token})
        .then(response => {
          this.amountTarget = response.data.amount;
          this.amountTargetPrecision = response.data.precision;
        })
    },
  },
  mounted() {
    this.$axios
      .get('/api/currencies/')
      .then(response => {
        this.currencies = response.data.map(v => v.code);
        this.currencies.sort()
        this.isLoaded = true;
        if (this.currencies.length > 0) {
          this.calculate();
        }
      })
  }
}
</script>
