<template>
  <div>
    <div v-if="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Source</th>
        <th scope="col">Target</th>
        <th scope="col">Rate</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(pair, index) in pairs" :key="index">
        <td>{{ pair.currencySource.code }}</td>
        <td>{{ pair.currencyTarget.code }}</td>
        <td>
          <input type="number" step="any"
                 :readonly="pair.busy" v-model="pair.exchangeRate" @change="updatePair(index)"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import Vue from "vue";

export default {
  data() {
    return {
      pairs: [],
      error: null,
    };
  },
  computed: {
    formattedTargetAmount: function () {
      if (this.amountTarget === null)
        return '...';
      let formatter = new Intl.NumberFormat('EN-us', {maximumFractionDigits: this.amountTargetPrecision});
      return formatter.format(this.amountTarget)
    }
  },
  methods: {
    updatePair: function (index) {
      let pair = this.pairs[index];
      console.log(pair)
      let exchangeRate = Number(pair.exchangeRate);
      if (isNaN(exchangeRate))
        return;
      pair.busy = true;
      Vue.set(this.pairs, index, pair);

      let url = '/api/pairs/' + pair.currencySource.code + '/' + pair.currencyTarget.code;
      this.$axios
        .put(url, {rate: exchangeRate})
        .then(response => {
          pair.busy = false;
          Vue.set(this.pairs, index, pair);
        })
        .catch(err => {
          this.error = err.toString();
        })
    },
  },
  mounted() {
    this.$axios
      .get('/api/pairs/')
      .then(response => {
        this.pairs = response.data.pairs;
      })
  }
}
</script>
