<style>
@import './assets/bootstrap.css';
</style>

<template>
  <main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">DnCurrencyCalculator</h1>
      <router-link to="/">Calculator</router-link>
      <router-link to="/list">List</router-link>
    </div>
    <router-view></router-view>
  </main>
</template>

